In [22]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
## to make it possible to display multiple output inside one cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
from sklearn.preprocessing import OneHotEncoder
hot = OneHotEncoder()
from sklearn.preprocessing import PowerTransformer
from scipy.stats import boxcox
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from scipy.stats import boxcox
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer

**Background**: You are working as an analyst for a real estate company. Your company wants to build a machine learning model to predict the selling prices of houses based on a variety of features on which the value of the house is evaluated.

**Objective**: The task is to build a model that will predict the price of a house based on features provided in the dataset. The senior management also wants to explore the characteristics of the houses using some business intelligence tool. One of those parameters include understanding which factors are responsible for higher property value - \$650K and above.
The questions have been provided later in the document for which you can use tableau.

**Data**: The data set consists of information on some 22,000 properties.  The dataset consisted of historic data of houses sold between May 2014 to May 2015.
These are the definitions of data points provided:
(You can find more detailed explanation in this [Link](https://geodacenter.github.io/data-and-lab/KingCounty-HouseSales2015/))

- **Id**: Unique identification number for the property.
- **date**: date the house was sold.
- **price**: price of the house.
- **waterfront**: house which has a view to a waterfront.
- **condition**: How good the condition is (overall). **1** indicates worn out property and **5** excellent.
- **grade**: Overall grade given to the housing unit, based on King County grading system. 1 poor ,13 excellent.
- **Sqft_above**: square footage of house apart from basement.
- **Sqft_living15**: Living room area in 2015(implies - some renovations). This might or might not have affected the lotsize area.
- **Sqft_lot15**: lotSize area in 2015(implies - some renovations).

### Exploring the data

We encourage you to thoroughly understand your data and take the necessary steps to prepare your data for modeling before building exploratory or predictive models. Since this is a regression task, you can use linear regression  for building a model. You are also encouraged to use other models in your project if necessary.
To explore the data, you can use the techniques that have been discussed in class. Some of them include using the describe method, checking null values, using _matplotlib_ and _seaborn_ for developing visualizations.
The data has a number of categorical and numerical variables. Explore the nature of data for these variables before you start with the data cleaning process and then data pre-processing (scaling numerical variables and encoding categorical variables).
You can  also use tableau to visually explore the data further.

### Model

Build a regression model that best fits your data. You can use the measures of accuracies that have been discussed in class.

Framework DMAIC:
https://asq.org/quality-resources/dmaic#:~:text=Define%2C%20measure%2C%20analyze%2C%20improve%2C%20and%20control%20(DMAIC,phases%20shown%20in%20Figure%201

Zip code Map
https://www.zipdatamaps.com/98028

Define:
The task is to build a model that will predict the price of a house based on features provided in the dataset. The senior management also wants to explore the characteristics of the houses using some business intelligence tool. One of those parameters include understanding which factors are responsible for higher property value - $650K and above. The questions have been provided later in the document for which you can use tableau.

For this ends, we will create 2 regression models: 1 general and the other for high tier houses
Measure:

ToDos
5. Segmentar Seattle aun mas para crear una nueva variable
4. Valores superiores a 650 
6. year renovated como cat
7. normalizacion de datos
4. iterar minimizando la cantidad de features
9. error analysis

1. Remove duplicates by ID
2. Transform ft to m and review other required transformations
7. Speculation analysis: marginal increase in second and third sell per zip code / county OR house profile


3. Quitar year built y year remnovated DONE
6. Review inclusion of geo data DONE
8. List of counties per zip code DONE
5. Review year renovation to binary vs condition of house (categorical variable) DONE
5. Labeling cities DONE
4. Review bedroom categorical conversion & outlier DONE
3. Review outliers y data integrity DONE

Link to documentation about the data set: https://geodacenter.github.io/data-and-lab/KingCounty-HouseSales2015/

In [23]:
#df = pd.read_csv("C:/Users/fprie/OneDrive/Dokumente/GitHub/MidTermProject/kc_house_data.csv") ruta Fabian
df = pd.read_csv("kc_house_data.csv")

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21611 entries, 0 to 21610
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21611 non-null  int64
 1   date           21611 non-null  object
 2   price          21611 non-null  float64
 3   bedrooms       21611 non-null  int64
 4   bathrooms      21611 non-null  float64
 5   sqft_living    21611 non-null  int64
 6   sqft_lot       21611 non-null  int64
 7   floors         21611 non-null  float64
 8   waterfront     21611 non-null  int64
 9   view           21611 non-null  int64
 10  condition      21611 non-null  int64
 11  grade          21611 non-null  int64
 12  sqft_above     21611 non-null  int64
 13  sqft_basement  21611 non-null  int64
 14  yr_built       21611 non-null  int64
 15  yr_renovated   21611 non-null  int64
 16  zipcode        21611 non-null  int64
 17  lat            21611 non-null  float64
 18  long           21611 non-null  float64
 19  sqft_living15  21611 non-null  int64
 20  sqft_lot15     21611 non-null  int64
 21  cat_bedrooms   21611 non-null  int64
dtypes: float64(5), int64(16), object(1)
memory usage: 3.6+ MB

In [25]:
v=df.loc[df["bedrooms"] == 33]
#v["sqft_living"], index = 15870
p=df.loc[df["sqft_living"] > 13000]
#p index = 12777
df = df.drop([12777, 15870])
df.reset_index(inplace=True,drop=True)

In [26]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21606,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21607,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21608,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21609,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21610,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [60]:
cat_bedrooms = []
for i in df["bedrooms"]:
    if 0 <= i <= 2:
        cat_bedrooms.append(1)
    elif 2 < i <= 4:
        cat_bedrooms.append(2)
    elif 4 < i <= 6:
        cat_bedrooms.append(3)
    elif 6 < i <= 8:
        cat_bedrooms.append(4)
    elif i > 8:
        cat_bedrooms.append(5)

new = pd.DataFrame(cat_bedrooms)
new.value_counts()

2    16706
1     2972
3     1873
4       50
5       10
dtype: int64

In [61]:
df["cat_bedrooms"] = new
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,cat_bedrooms
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,2
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,2
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,1
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,2
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21606,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,2
21607,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,2
21608,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,1
21609,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,2
21610,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,1

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21611 entries, 0 to 21610
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21611 non-null  int64
 1   date           21611 non-null  object
 2   price          21611 non-null  float64
 3   bedrooms       21611 non-null  int64
 4   bathrooms      21611 non-null  float64
 5   sqft_living    21611 non-null  int64
 6   sqft_lot       21611 non-null  int64
 7   floors         21611 non-null  float64
 8   waterfront     21611 non-null  int64
 9   view           21611 non-null  int64
 10  condition      21611 non-null  int64
 11  grade          21611 non-null  int64
 12  sqft_above     21611 non-null  int64
 13  sqft_basement  21611 non-null  int64
 14  yr_built       21611 non-null  int64
 15  yr_renovated   21611 non-null  int64
 16  zipcode        21611 non-null  int64
 17  lat            21611 non-null  float64
 18  long           21611 non-null  float64
 19  sqft_living15  21611 non-null  int64
 20  sqft_lot15     21611 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

# Measure phase

## Numerical variables

In [28]:
numerical = df.iloc[:,[2,3,4,5,6,7,12,13,14,15,19,20]].reset_index(drop=True)
numerical.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,1180,0,1955,0,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,2170,400,1951,1991,1690,7639
2,180000.0,2,1.00,770,10000,1.0,770,0,1933,0,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,1050,910,1965,0,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,1680,0,1987,0,1800,7503

## Distribution of Numerical variables & X's vs Y plotting

plt.subplots(figsize=(30, 100));
count=1
for i in numerical:
    plt.subplot(12,2,count);
    sns.histplot(numerical[i]);
    plt.subplot(12,2,count+1);
    sns.regplot(x=numerical[i],y=numerical.price);
    count+=2
plt.show();

## Correlation of Numerical variables

In [ ]:
corr = numerical.corr()
mask = np.zeros_like(corr)
mask[np.triu_indices_from(mask)] = True
with sns.axes_style("white"):
    f, ax = plt.subplots(figsize=(9, 7))
    ax = sns.heatmap(corr, mask=mask,cmap='coolwarm', vmin=-1,vmax=1,annot=True, square=True)

**sqft_above is highly correlated with sqft_living (.88)**

**sqft_living15 is highly correlated with sqft_living (.76)**

**sqft_lot15 is highly correlated with sqft_l0t (.72)**

In [ ]:
#To verify that sqft_living = sqft_above + sqft_basement
(numerical["sqft_above"] + numerical["sqft_basement"]) - numerical["sqft_living"]

**We remove ("sqft_above",'sqft_basement', "sqft_living15", "sqft_lot15")**

In [69]:
numerical = numerical.drop(["sqft_above",'sqft_basement', "sqft_living15", "sqft_lot15", "bedrooms"], axis=1)
numerical

,price,bathrooms,sqft_living,sqft_lot,floors,yr_built,yr_renovated,condition_years
0,221900.0,1.00,1180,5650,1.0,1955,0,59
1,538000.0,2.25,2570,7242,2.0,1951,1991,23
2,180000.0,1.00,770,10000,1.0,1933,0,82
3,604000.0,3.00,1960,5000,1.0,1965,0,49
4,510000.0,2.00,1680,8080,1.0,1987,0,28
...,...,...,...,...,...,...,...,...
21606,360000.0,2.50,1530,1131,3.0,2009,0,5
21607,400000.0,2.50,2310,5813,2.0,2014,0,1
21608,402101.0,0.75,1020,1350,2.0,2009,0,5
21609,400000.0,2.50,1600,2388,2.0,2004,0,11
21610,325000.0,0.75,1020,1076,2.0,2008,0,6

## New Correlation

In [ ]:
corr = numerical.corr()
mask = np.zeros_like(corr)
mask[np.triu_indices_from(mask)] = True
with sns.axes_style("white"):
    f, ax = plt.subplots(figsize=(14, 8))
    ax = sns.heatmap(corr, mask=mask,cmap='coolwarm', vmin=-1,vmax=1,annot=True, square=True)

## New variable ''condition_years"

In [30]:
time = df[["date", "yr_built", "yr_renovated"]]
time.head()

              date  yr_built  yr_renovated
0  20141013T000000      1955             0
1  20141209T000000      1951          1991
2  20150225T000000      1933             0
3  20141209T000000      1965             0
4  20150218T000000      1987             0

In [31]:
time["date"] = pd.to_datetime(time["date"])
time['year'] = time['date'].dt.year
#time['month'] = time['date'].dt.month
#time['day'] = time['date'].dt.day
time.head()

C:\Users\fprie\AppData\Local\Temp\ipykernel_20196\3088125887.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  time["date"] = pd.to_datetime(time["date"])
C:\Users\fprie\AppData\Local\Temp\ipykernel_20196\3088125887.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  time['year'] = time['date'].dt.year

        date  yr_built  yr_renovated  year
0 2014-10-13      1955             0  2014
1 2014-12-09      1951          1991  2014
2 2015-02-25      1933             0  2015
3 2014-12-09      1965             0  2014
4 2015-02-18      1987             0  2015

In [32]:
time['condition_years']= np.where((time['yr_renovated'])>0, time['year']-time['yr_renovated'],time['year']-time['yr_built'] )
time.head()

C:\Users\fprie\AppData\Local\Temp\ipykernel_20196\3691291001.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  time['condition_years']= np.where((time['yr_renovated'])>0, time['year']-time['yr_renovated'],time['year']-time['yr_built'] )

        date  yr_built  yr_renovated  year  condition_years
0 2014-10-13      1955             0  2014               59
1 2014-12-09      1951          1991  2014               23
2 2015-02-25      1933             0  2015               82
3 2014-12-09      1965             0  2014               49
4 2015-02-18      1987             0  2015               28

In [33]:
numerical['condition_years'] = time['condition_years']
numerical.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,condition_years
0,221900.0,3,1.00,1180,5650,1.0,1180,0,1955,0,1340,5650,59
1,538000.0,3,2.25,2570,7242,2.0,2170,400,1951,1991,1690,7639,23
2,180000.0,2,1.00,770,10000,1.0,770,0,1933,0,2720,8062,82
3,604000.0,4,3.00,1960,5000,1.0,1050,910,1965,0,1360,5000,49
4,510000.0,3,2.00,1680,8080,1.0,1680,0,1987,0,1800,7503,28

#  1st - Linear Regresion - Numerical variables

In [34]:
numerical

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,condition_years
0,221900.0,3,1.00,1180,5650,1.0,1180,0,1955,0,1340,5650,59
1,538000.0,3,2.25,2570,7242,2.0,2170,400,1951,1991,1690,7639,23
2,180000.0,2,1.00,770,10000,1.0,770,0,1933,0,2720,8062,82
3,604000.0,4,3.00,1960,5000,1.0,1050,910,1965,0,1360,5000,49
4,510000.0,3,2.00,1680,8080,1.0,1680,0,1987,0,1800,7503,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21606,360000.0,3,2.50,1530,1131,3.0,1530,0,2009,0,1530,1509,5
21607,400000.0,4,2.50,2310,5813,2.0,2310,0,2014,0,1830,7200,1
21608,402101.0,2,0.75,1020,1350,2.0,1020,0,2009,0,1020,2007,5
21609,400000.0,3,2.50,1600,2388,2.0,1600,0,2004,0,1410,1287,11
21610,325000.0,2,0.75,1020,1076,2.0,1020,0,2008,0,1020,1357,6

In [62]:
X=numerical.drop('price', axis=1)
y=numerical.price

In [63]:
#First linear regression iteration, only numerical values

X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=.30,random_state=123)

std_scaler=StandardScaler().fit(X_train)   ##. finding the parameters ( mean, variance from the training set )

X_train_scaled=std_scaler.transform(X_train)

X_test_scaled=std_scaler.transform(X_test)

print(X_train_scaled)
print("--------")
print(X_test_scaled)

X_train_const_scaled = sm.add_constant(X_train_scaled) # adding a constant

model = sm.OLS(y_train, X_train_const_scaled).fit()
predictions_train = model.predict(X_train_const_scaled) 

X_test_const_scaled = sm.add_constant(X_test_scaled) # adding a constant
predictions_test = model.predict(X_test_const_scaled) 
print_model = model.summary()
print(print_model)

[[-0.14422774 -0.8170896  -0.20713249 ... -0.58822302 -0.19922184
   0.69343607]
 [ 1.15771644  2.23948347  1.10123049 ...  1.14694475  1.86172972
  -0.72646523]
 [-1.44617191 -0.87186689  0.16327342 ... -0.67571048  0.32835507
   2.11333737]
 ...
 [-0.14422774 -0.40078215 -0.27060637 ... -0.39866688 -0.32215872
   2.28649607]
 [-1.44617191 -0.7623123  -0.19208323 ... -0.80694165 -0.20255818
   1.21291216]
 [ 0.50674435  0.39896636 -0.20322453 ... -0.92359159 -0.18286652
  -1.41910001]]
--------
[[ 0.18125831  0.31132269 -0.17897581 ...  0.49078887 -0.05931314
   0.38175042]
 [-0.46971378  0.13603534 -0.08503932 ... -0.42782936 -0.16890466
   0.72806781]
 [ 0.50674435 -0.42269307 -0.24269242 ...  0.82615743 -0.27904015
  -1.03815088]
 ...
 [ 0.50674435  1.10011574 -0.02775505 ...  1.16152599  0.09510138
  -0.55330654]
 [-0.46971378 -0.90473327 -0.19404934 ... -0.44241061 -0.15323837
  -0.44941132]
 [ 1.80868853  1.87795333  1.82400747 ...  2.08014422  1.2422584
  -0.83036045]]
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.548
Model:                            OLS   Adj. R-squared:                  0.548
Method:                 Least Squares   F-statistic:                     1835.
Date:                Wed, 16 Nov 2022   Prob (F-statistic):               0.00
Time:                        11:33:42   Log-Likelihood:            -2.0938e+05
No. Observations:               15127   AIC:                         4.188e+05
Df Residuals:                   15116   BIC:                         4.189e+05
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       5.393e+05   2020.355    266.935      0.000    5.35e+05    5.43e+05
x1          3.179e+04   3605.799      8.817      0.000    2.47e+04    3.89e+04
x2          1.043e+05   2052.670     50.812      0.000       1e+05    1.08e+05
x3          5915.6323   3004.288      1.969      0.049      26.865    1.18e+04
x4          3.645e+04   2765.271     13.181      0.000     3.1e+04    4.19e+04
x5          8.743e+04   2226.117     39.276      0.000    8.31e+04    9.18e+04
x6          5.248e+04   2170.818     24.176      0.000    4.82e+04    5.67e+04
x7         -6.405e+04   1.22e+04     -5.241      0.000    -8.8e+04   -4.01e+04
x8          2.414e+04   5155.990      4.682      0.000     1.4e+04    3.42e+04
x9          6.735e+04   3185.522     21.143      0.000    6.11e+04    7.36e+04
x10         -1.89e+04   3017.078     -6.265      0.000   -2.48e+04    -1.3e+04
x11         3.461e+04   1.21e+04      2.854      0.004    1.08e+04    5.84e+04
==============================================================================
Omnibus:                    11501.901   Durbin-Watson:                   2.030
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           606957.423
Skew:                           3.172   Prob(JB):                         0.00
Kurtosis:                      33.377   Cond. No.                     4.08e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.9e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

# Categorical variables

In [70]:
categorical = df.iloc[:,[0,1,8,9,10,11,16,17,18,21]].reset_index(drop=True)
categorical.head()

,id,date,waterfront,view,condition,grade,zipcode,lat,long,cat_bedrooms
0,7129300520,20141013T000000,0,0,3,7,98178,47.5112,-122.257,2
1,6414100192,20141209T000000,0,0,3,7,98125,47.7210,-122.319,2
2,5631500400,20150225T000000,0,0,3,6,98028,47.7379,-122.233,1
3,2487200875,20141209T000000,0,0,5,7,98136,47.5208,-122.393,2
4,1954400510,20150218T000000,0,0,3,8,98074,47.6168,-122.045,2

In [71]:
categorical = categorical.drop(["id", "date"], axis=1)
categorical.head()

   waterfront  view  condition  grade  zipcode      lat     long  cat_bedrooms
0           0     0          3      7    98178  47.5112 -122.257             2
1           0     0          3      7    98125  47.7210 -122.319             2
2           0     0          3      6    98028  47.7379 -122.233             1
3           0     0          5      7    98136  47.5208 -122.393             2
4           0     0          3      8    98074  47.6168 -122.045             2

plt.subplots(figsize=(30, 100));
count=1
for i in categorical:
    plt.subplot(12,2,count);
    sns.histplot(categorical[i]);
    plt.subplot(12,2,count+1);
    sns.regplot(x=categorical[i],y=numerical.price);
    count+=2
plt.show();

#  2nd - Linear Regresion - Numerical variables + Categorical

In [72]:
X=pd.concat([numerical,categorical],axis=1)

In [73]:
X=X.drop('price', axis=1)
y=numerical.price
X.head()

,bathrooms,sqft_living,sqft_lot,floors,yr_built,yr_renovated,condition_years,waterfront,view,condition,grade,zipcode,lat,long,cat_bedrooms
0,1.00,1180,5650,1.0,1955,0,59,0,0,3,7,98178,47.5112,-122.257,2
1,2.25,2570,7242,2.0,1951,1991,23,0,0,3,7,98125,47.7210,-122.319,2
2,1.00,770,10000,1.0,1933,0,82,0,0,3,6,98028,47.7379,-122.233,1
3,3.00,1960,5000,1.0,1965,0,49,0,0,5,7,98136,47.5208,-122.393,2
4,2.00,1680,8080,1.0,1987,0,28,0,0,3,8,98074,47.6168,-122.045,2

In [74]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=.30,random_state=123)

std_scaler=StandardScaler().fit(X_train)   ##. finding the parameters ( mean, variance from the training set )

X_train_scaled=std_scaler.transform(X_train)

X_test_scaled=std_scaler.transform(X_test)

print(X_train_scaled)
print("--------")
print(X_test_scaled)

X_train_const_scaled = sm.add_constant(X_train_scaled) # adding a constant

model = sm.OLS(y_train, X_train_const_scaled).fit()
predictions_train = model.predict(X_train_const_scaled) 

X_test_const_scaled = sm.add_constant(X_test_scaled) # adding a constant
predictions_test = model.predict(X_test_const_scaled) 
print_model = model.summary()
print(print_model)

[[-0.14422774 -0.8170896  -0.20713249 ...  1.13844998 -0.66942074
   0.08877532]
 [ 1.15771644  2.23948347  1.10123049 ...  0.86554875  2.1159217
   0.08877532]
 [-1.44617191 -0.87186689  0.16327342 ... -1.81858323 -0.19697025
  -1.98681083]
 ...
 [-0.14422774 -0.40078215 -0.27060637 ...  0.34580583 -0.57069974
   0.08877532]
 [-1.44617191 -0.7623123  -0.19208323 ... -1.27567628 -0.09119775
   0.08877532]
 [ 0.50674435  0.39896636 -0.20322453 ...  0.98643604 -1.11366523
   0.08877532]]
--------
[[ 0.18125831  0.31132269 -0.17897581 ...  1.36936641 -0.55659674
   0.08877532]
 [-0.46971378  0.13603534 -0.08503932 ...  1.48446268 -0.90212023
   0.08877532]
 [ 0.50674435 -0.42269307 -0.24269242 ... -2.0480519  -0.94442923
   0.08877532]
 ...
 [ 0.50674435  1.10011574 -0.02775505 ... -1.36254139  1.32615372
   0.08877532]
 [-0.46971378 -0.90473327 -0.19404934 ...  0.96110038  0.19086224
  -1.98681083]
 [ 1.80868853  1.87795333  1.82400747 ...  0.70846768  1.34730822
   0.08877532]]
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.693
Model:                            OLS   Adj. R-squared:                  0.693
Method:                 Least Squares   F-statistic:                     2272.
Date:                Wed, 16 Nov 2022   Prob (F-statistic):               0.00
Time:                        11:36:30   Log-Likelihood:            -2.0647e+05
No. Observations:               15127   AIC:                         4.130e+05
Df Residuals:                   15111   BIC:                         4.131e+05
Df Model:                          15
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       5.393e+05   1666.405    323.633      0.000    5.36e+05    5.43e+05
x1          2.372e+04   3011.576      7.875      0.000    1.78e+04    2.96e+04
x2          1.567e+05   3358.458     46.657      0.000     1.5e+05    1.63e+05
x3            -1.7105   1748.777     -0.001      0.999   -3429.525    3426.104
x4          8179.6181   2116.123      3.865      0.000    4031.761    1.23e+04
x5         -5.562e+04   1.01e+04     -5.517      0.000   -7.54e+04   -3.59e+04
x6          1.568e+04   4265.506      3.676      0.000    7317.480     2.4e+04
x7           2.12e+04   1.01e+04      2.108      0.035    1486.590    4.09e+04
x8          5.397e+04   1818.013     29.689      0.000    5.04e+04    5.75e+04
x9          4.196e+04   1933.732     21.698      0.000    3.82e+04    4.57e+04
x10         1.616e+04   1861.390      8.679      0.000    1.25e+04    1.98e+04
x11          1.25e+05   2903.856     43.044      0.000    1.19e+05    1.31e+05
x12        -3.162e+04   2142.074    -14.763      0.000   -3.58e+04   -2.74e+04
x13         8.132e+04   1797.718     45.236      0.000    7.78e+04    8.48e+04
x14        -2.836e+04   2173.770    -13.047      0.000   -3.26e+04   -2.41e+04
x15        -2.385e+04   1988.080    -11.995      0.000   -2.77e+04      -2e+04
==============================================================================
Omnibus:                    13067.666   Durbin-Watson:                   2.018
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1328440.383
Skew:                           3.656   Prob(JB):                         0.00
Kurtosis:                      48.323   Cond. No.                         18.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [75]:
X.columns

Index(['bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'yr_built',
       'yr_renovated', 'condition_years', 'waterfront', 'view', 'condition',
       'grade', 'zipcode', 'lat', 'long', 'cat_bedrooms'],
      dtype='object')

# LR dropping some features

In [76]:
X=X.drop("sqft_lot", axis=1)
X

,bathrooms,sqft_living,floors,yr_built,yr_renovated,condition_years,waterfront,view,condition,grade,zipcode,lat,long,cat_bedrooms
0,1.00,1180,1.0,1955,0,59,0,0,3,7,98178,47.5112,-122.257,2
1,2.25,2570,2.0,1951,1991,23,0,0,3,7,98125,47.7210,-122.319,2
2,1.00,770,1.0,1933,0,82,0,0,3,6,98028,47.7379,-122.233,1
3,3.00,1960,1.0,1965,0,49,0,0,5,7,98136,47.5208,-122.393,2
4,2.00,1680,1.0,1987,0,28,0,0,3,8,98074,47.6168,-122.045,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21606,2.50,1530,3.0,2009,0,5,0,0,3,8,98103,47.6993,-122.346,2
21607,2.50,2310,2.0,2014,0,1,0,0,3,8,98146,47.5107,-122.362,2
21608,0.75,1020,2.0,2009,0,5,0,0,3,7,98144,47.5944,-122.299,1
21609,2.50,1600,2.0,2004,0,11,0,0,3,8,98027,47.5345,-122.069,2
21610,0.75,1020,2.0,2008,0,6,0,0,3,7,98144,47.5941,-122.299,1

In [77]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=.30,random_state=123)

std_scaler=StandardScaler().fit(X_train)   ##. finding the parameters ( mean, variance from the training set )

X_train_scaled=std_scaler.transform(X_train)

X_test_scaled=std_scaler.transform(X_test)

print(X_train_scaled)
print("--------")
print(X_test_scaled)

X_train_const_scaled = sm.add_constant(X_train_scaled) # adding a constant

model = sm.OLS(y_train, X_train_const_scaled).fit()
predictions_train = model.predict(X_train_const_scaled) 

X_test_const_scaled = sm.add_constant(X_test_scaled) # adding a constant
predictions_test = model.predict(X_test_const_scaled) 
print_model = model.summary()
print(print_model)

[[-0.14422774 -0.8170896  -0.91643947 ...  1.13844998 -0.66942074
   0.08877532]
 [ 1.15771644  2.23948347  0.93751973 ...  0.86554875  2.1159217
   0.08877532]
 [-1.44617191 -0.87186689  0.01054013 ... -1.81858323 -0.19697025
  -1.98681083]
 ...
 [-0.14422774 -0.40078215  0.01054013 ...  0.34580583 -0.57069974
   0.08877532]
 [-1.44617191 -0.7623123   0.01054013 ... -1.27567628 -0.09119775
   0.08877532]
 [ 0.50674435  0.39896636  0.93751973 ...  0.98643604 -1.11366523
   0.08877532]]
--------
[[ 0.18125831  0.31132269 -0.91643947 ...  1.36936641 -0.55659674
   0.08877532]
 [-0.46971378  0.13603534 -0.91643947 ...  1.48446268 -0.90212023
   0.08877532]
 [ 0.50674435 -0.42269307  0.93751973 ... -2.0480519  -0.94442923
   0.08877532]
 ...
 [ 0.50674435  1.10011574  0.93751973 ... -1.36254139  1.32615372
   0.08877532]
 [-0.46971378 -0.90473327 -0.91643947 ...  0.96110038  0.19086224
  -1.98681083]
 [ 1.80868853  1.87795333  0.93751973 ...  0.70846768  1.34730822
   0.08877532]]
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.693
Model:                            OLS   Adj. R-squared:                  0.693
Method:                 Least Squares   F-statistic:                     2435.
Date:                Wed, 16 Nov 2022   Prob (F-statistic):               0.00
Time:                        12:02:52   Log-Likelihood:            -2.0647e+05
No. Observations:               15127   AIC:                         4.130e+05
Df Residuals:                   15112   BIC:                         4.131e+05
Df Model:                          14
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       5.393e+05   1666.350    323.643      0.000    5.36e+05    5.43e+05
x1          2.372e+04   3010.846      7.877      0.000    1.78e+04    2.96e+04
x2          1.567e+05   3341.020     46.901      0.000     1.5e+05    1.63e+05
x3          8179.7071   2114.096      3.869      0.000    4035.824    1.23e+04
x4         -5.562e+04   1.01e+04     -5.517      0.000   -7.54e+04   -3.59e+04
x5          1.568e+04   4264.656      3.676      0.000    7319.070     2.4e+04
x6           2.12e+04   1.01e+04      2.108      0.035    1490.989    4.09e+04
x7          5.398e+04   1817.642     29.695      0.000    5.04e+04    5.75e+04
x8          4.196e+04   1931.126     21.728      0.000    3.82e+04    4.57e+04
x9          1.616e+04   1861.144      8.680      0.000    1.25e+04    1.98e+04
x10          1.25e+05   2903.543     43.048      0.000    1.19e+05    1.31e+05
x11        -3.162e+04   2141.773    -14.765      0.000   -3.58e+04   -2.74e+04
x12         8.132e+04   1791.542     45.392      0.000    7.78e+04    8.48e+04
x13        -2.836e+04   2135.139    -13.283      0.000   -3.25e+04   -2.42e+04
x14        -2.385e+04   1984.116    -12.019      0.000   -2.77e+04      -2e+04
==============================================================================
Omnibus:                    13067.674   Durbin-Watson:                   2.018
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1328444.777
Skew:                           3.656   Prob(JB):                         0.00
Kurtosis:                      48.323   Cond. No.                         18.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## martes

In [ ]:
reg2 = pd.concat([numerical,it1],axis=1)
reg2 = reg2.drop("condition_years", axis=1)
reg2["City_code"] = dfexp["City_code"]
reg2

In [ ]:
reg2['yr_renovated']= np.where((reg2['yr_renovated'])>0, 1,0 )
reg2.head()

In [ ]:
X =reg2.drop('price', axis=1)
y=reg2.price
X

In [ ]:
#First linear regression iteration, only numerical values

X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=.30,random_state=123)

std_scaler=StandardScaler().fit(X_train)   ##. finding the parameters ( mean, variance from the training set )

X_train_scaled=std_scaler.transform(X_train)

X_test_scaled=std_scaler.transform(X_test)

print(X_train_scaled)
print("--------")
print(X_test_scaled)

X_train_const_scaled = sm.add_constant(X_train_scaled) # adding a constant

model = sm.OLS(y_train, X_train_const_scaled).fit()
predictions_train = model.predict(X_train_const_scaled) 

X_test_const_scaled = sm.add_constant(X_test_scaled) # adding a constant
predictions_test = model.predict(X_test_const_scaled) 
print_model = model.summary()
print(print_model)

In [ ]:
reg2.columns

# New variable - City_code

In [ ]:
cities = pd.read_csv("zip.csv")
cities = cities.rename(columns={"Zipcode": "zipcode"})
cities = cities.drop("no", axis=1)
cities

In [ ]:
zipdf = df[["zipcode"]]
zipdf

In [ ]:
df_geo = pd.merge(zipdf, 
                      cities,
                      on ="zipcode", 
                      how ="inner")
df_geos = df_geo[["City", "County"]]

dfexp = pd.concat([df,df_geos],axis=1)
dfexp
dfexp.to_csv("paraluis.csv")

In [ ]:
cityun= cities["City"]
cityunique = cityun.unique()

ran = []
for i in range(0,24):
    ran.append(i)
    
res = {cityunique[i]: ran[i] for i in range(len(cityunique))}
res

dfexp

In [ ]:
dfexp['City_code']= dfexp['City'].replace(res)
dfexp

In [ ]:
reg2.columns